## Install Libraries

In [3]:
import pandas as pd
import time
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
import matplotlib.pyplot as plt 
import os
import logging

In [5]:
# Install ChromeDriver
service = Service(executable_path=ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)

## Web Scrape

In [6]:
# Get URL
page_url ='https://simple.m.wikipedia.org/wiki/List_of_countries'
driver.get(page_url)

In [7]:
# Find all <a> tags within that table
countries = driver.find_elements(By.TAG_NAME, 'a')

In [86]:
print(f"Number of tags found: {len(countries)}")

Number of tags found: 590

In [11]:
# Create an empty list to store text from all sections
all_sections_text = []

In [13]:
# Add Text
for section in countries:
    all_sections_text.append(section.text)

In [91]:
print(all_sections_text)

['', '', '', '', '', '', '', '', '', '', 'Language', 'Watch', 'Change', 'sovereign states', 'Top', '0-9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', '', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', '', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Democratic Republic of the', 'Congo, Republic of the', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', '', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', '', 'East Timor', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', '', 'Fiji', 'Finland', 'France', '', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', '', 'Haiti', 'Honduras', 'Hungary', '', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', '', 'Jamaica', 'Japan', 'Jordan', '', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', '', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', '', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', '', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', '', 'Oman', '', 'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', '', 'Qatar', '', 'Romania', 'Russia', 'Rwanda', '', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'São Tomé and Príncipe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', '', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', '', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', '', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', '', 'Yemen', '', 'Zambia', 'Zimbabwe', '', 'List of states with limited recognition', 'Abkhazia', "Donetsk People's Republic", 'Kosovo', 'Liberland', "Luhansk People's Republic", 'Northern Cyprus', 'Sahrawi Arab Democratic Republic', 'Sealand', 'Somaliland', 'South Ossetia', 'Taiwan', 'Transnistria', '', 'change', 'Akrotiri and Dhekelia', 'American Samoa', 'Anguilla', 'Bermuda', 'British Indian Ocean Territory', 'British Virgin Islands', 'Cayman Islands', 'Cook Islands', 'Falkland Islands', 'Gibraltar', 'Guam', 'Guernsey', 'Isle of Man', 'Jersey', 'Montserrat', 'Niue', 'Northern Mariana Islands', 'Pitcairn Islands', 'Puerto Rico', 'Saint Helena, Ascension and Tristan da Cunha', 'South Georgia and the South Sandwich Islands', 'Tokelau', 'Turks and Caicos Islands', 'United States Minor Outlying Islands', 'United States Virgin Islands', 'change', 'Adjara', 'Anjouan', 'Azad Kashmir', 'Bougainville', 'England', 'Gagauzia', 'Kurdistan', 'Northern Ireland', 'Roraima', 'Scotland', 'South Moluccas', 'Wales', 'West Papua', 'change', 'Åland', 'Aruba', 'Azores', 'Bonaire', 'Canary Islands', 'Ceuta', 'Christmas Island', 'Cocos (Keeling) Islands', 'Curaçao', 'Easter Island', 'Faroe Islands', 'French Guiana', 'French Polynesia', 'French Southern and Antarctic Lands', 'Galapagos Islands', 'Greenland', 'Guadeloupe', 'Hong Kong', 'Macau', 'Madeira', 'Martinique', 'Mayotte', 'Melilla', 'New Caledonia', 'Norfolk Island', 'Réunion', 'Saba', 'Saint Barthelemy', 'Saint Martin', 'Saint Pierre and Miquelon', 'Sint Eustatius', 'Sint Maarten', 'Svalbard and Jan Mayen', 'change', 'Antarctica', 'Sovereign Military Order of Malta', '', 'Last edited on 3 October 2024, at 13:32', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'CC BY-SA 4.0', 'Privacy policy', '', '', '', '', '', '', 'Terms of Use', 'Desktop']

In [15]:
# Create Dataframe with countries
list_countries = pd.DataFrame(all_sections_text, columns=['countries'])

In [17]:
# Check head
list_countries.head(45)

           countries
0
1
2
3
4
5
6
7
8
9
10          Language
11             Watch
12            Change
13  sovereign states
14               Top
15               0-9
16                 A
17                 B
18                 C
19                 D
20                 E
21                 F
22                 G
23                 H
24                 I
25                 J
26                 K
27                 L
28                 M
29                 N
30                 O
31                 P
32                 Q
33                 R
34                 S
35                 T
36                 U
37                 V
38                 W
39                 X
40                 Y
41                 Z
42            change
43       Afghanistan
44           Albania

In [100]:
# Check tail
list_countries.tail(300)

                    countries
290                    Jersey
291                Montserrat
292                      Niue
293  Northern Mariana Islands
294          Pitcairn Islands
..                        ...
585
586
587
588              Terms of Use
589                   Desktop

[300 rows x 1 columns]

In [19]:
# Select only relevant records
l_countries = list_countries.iloc[43:294].reset_index(drop=True)

In [21]:
l_countries.head()

     countries
0  Afghanistan
1      Albania
2      Algeria
3      Andorra
4       Angola

In [23]:
# Index starting from 1
l_countries.index +=1

In [25]:
# Check dataframe
l_countries.head()

     countries
1  Afghanistan
2      Albania
3      Algeria
4      Andorra
5       Angola

## Save File

In [29]:
# Save Dataframe
l_countries.to_csv(r'/Users/michele/Desktop/CF/files/Module7/20th-century/list_of_countries.csv')